
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}
html{
    font-size:62.5%;
}
.container{
    height: 100%;
}
.hero{
    display:inline-block;
    background-color:orange;
    width:29%;
    padding: 5%;
    
}
.hero img{
    display:inline-block;
    border-radius: 50%;
    background-color:orange;
    width: 100%;
    
}
.park{
    display:inline-block;
    background-color:hotpink;
    width:50%;
    text-align: center;
    padding: 5%;
  }