
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}
html{
    font-size: 62.5%;
}
.navcon{
    padding: 5%;
    padding-top: 2%;
    margin: 0 20%;
}
nav a {
    padding: 4.5%;
    display: inline-block;
    border-radius: 12%;
    color: white;
    text-decoration: none;
    margin-bottom: 5%;
    background-color:lightblue;
    margin: 0 3%;
    width: 25%;
    text-align: center;
    
  }
      .yose{
        display: inline-block;
        width: 30%;
        padding: 5%;
        margin: 0 auto;
      }
      .yose img{
          border-radius: 50%;
          margin: 0 auto;
      }
.park{
    display:inline-block;
    font-size: 2rem;
    width:68%;
    text-align: center;
     padding: 10%;
     padding-bottom: ;
  }
  .text{
    font-size: 1.5rem;
    background-color:palevioletred;
    text-align:center;
    padding:4% 2%;
    width:90%;
    margin:0 auto;
    color: white;
}
.cont{
    text-align: center;
    margin: 0 auto;
}
.cont img{
    width: 30%;
    
}
.herob{
    
    background-image: url(/assets/footer_img.jpg);
    background-position: center;
    text-align:center;
    padding:10%;
    width:100%;
    margin:0 auto;
    color: white;
}

h1{
    font-size: 5rem;
    padding: 5%;
}
a:nth-child(1){
    background-color: #ff7b00;
}
a:nth-child(3){
    background-color: #ffd900ea;
}