
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    font-size: 62.5%;
}
.navcon{
    padding: 5%;
    padding-top: 2%;
    margin: 0 20%;
}
nav a {
    padding: 4.5%;
    display: inline-block;
    border-radius: 12%;
    color: white;
    text-decoration: none;
    margin-bottom: 5%;
    background-color:#5ED3EB;
    margin: 0 3%;
    width: 25%;
    text-align: center;
    
  }
      .yose{
        display: inline-block;
        width: 30%;
        padding: 5%;
        margin: 0 auto;
      }
      .yose img{
          border-radius: 50%;
          margin: 0 auto;
      }
.park{
    display:inline-block;
    font-size: 2rem;
    width:68%;
    text-align: center;
     padding: 10%;
     padding-bottom: ;
  }
  .text{
    font-size: 1.5rem;
    background-color:palevioletred;
    text-align:center;
    padding:4% 2%;
    width:90%;
    margin:0 auto;
    color: white;
}
.cont{
    text-align: center;
    margin: 0 auto;
    padding: 2%;
}
.cont img{
    width: 25%;
    
}
.herob{
    
    background-image: url(/assets/footer_img.jpg);
    background-position: center;
    text-align:center;
    padding:10%;
    width:100%;
    margin:0 auto;
    color: white;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    
}

h1{
    font-size: 5rem;
    padding: 5%;
}
a:nth-child(1){
    background-color: #FF764E;
}
a:nth-child(3){
    background-color: #FFCD69;
}
.cont p{
    padding: 5%;
    margin: 0 auto;
}
span{
    font-weight: bold;
}
.about p{
width: 40%;
}
.about2 p{
    width: 40%;
    }